name: CI/CD Docker to GHCR

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ secrets.CICD_USERNAME }}
        password: ${{ secrets.CICD_TOKEN }}

    - name: Build & Push Docker Image
      uses: docker/build-push-action@v5
      with:
        push: true
        tags: ghcr.io/${{ secrets.CICD_USERNAME }}/genai-mid-project:latest
